.selected{
  background: #fefefe !important;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.4);
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}
.card {
  border-radius: 7px;
  background: #eee;
  border: 1px solid #ccc;
  min-width: 75px;
  height: 80px;
  margin: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card:hover {
  cursor: pointer;
  background: #fefefe;

}
.card-value {
  font-size: 2em;
  font-weight: 500;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width:450px;
  margin:0 auto;
  justify-content: center;
  justify-items: center;
  align-content: center;

}
.results-container {
  display: flex;
  flex-wrap: wrap;
  max-width:450px;
  margin:0 auto;
  justify-content: space-around;
  align-content: space-around;
}

@media (min-width: 1000px){
  .results-container {
    max-width:850px;
   }
}
.btn {
  padding: 6px 10px;
  color: white;
  background: tomato;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2em;
  text-decoration: none;
  margin-top: 14px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.btn:hover {
  background-color: tomato;
  box-shadow: 0px 3px 7px #3c3c3c;
  cursor: pointer;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background: green; */
}
/* creando estilos para la imagen */
.profile {
  max-width: 90px;
  min-width: 90px;
  max-height: 80px;
  min-height: 80px;
  border: 1px solid #3c3c3c;
  border-radius: 3px;
  text-align: center;
  margin: 3px;
}

/* Login */
.input {
  padding: 10px 5px;
  border: 1px solid #6e6c6c;
  border-radius: 4px;
  display: block;
  width: 100%;
}
*{box-sizing: border-box;}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    /* align-items: center; */
    align-content: center;
    width: 400px;
    margin: 0 auto;
    margin-right: auto;
    padding: 12px 0px;
    /* background: red; */
}
.label-input {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-items:center;
  margin: 3px;
}
/* label */
.label {
  width: 110px;
  /* background: royalblue; */
}

/* title */
.title {
  display: flex;
  flex-flow: row;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  /* background: green; */
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.cards-list {
  text-align: center;
}